<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Cadastro</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon"
          type="image/png"
          th:src="@{images/ico.png}">
</head>
<header>
    <div class="container">
        <div>

        </div>
        <div id="menu">
            <!--<a href="cadastro">Cadastro</a>-->
            <a href="aluno">Aluno</a>
            <a href="disciplina">Disciplina</a>
            <a href="lista">Lista</a>
        </div>
    </div>
</header>
<main>
    <section id="logo">
        <div id="logo">
            <center>
                <img th:src="@{images/main.jpeg}" width="350px" height="375px">
            </center>
        </div>
    </section>
</main>
<footer>
    Copyright; Jucyara, Jéferson e João Gabriel
</footer>
</html>